@font-face {
    font-family: "FramdCN";
    src: url("fonts/framdcn.eot");
    src: url("fonts/framdcn.eot?#iefix") format("embedded-opentype"), url("fonts/framdcn.ttf") format("truetype");
}

body {
    font-family: Ubuntu, san-serif;
    font-size: 12pt;
    background-image: url(../../images/v2/template-body-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* -webkit-animation: Gradient 15s ease infinite;
     -moz-animation: Gradient 15s ease infinite;
     animation: Gradient 15s ease infinite;
     */
}

hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted #ccc;
    color: #fff;
    margin-top: 20px;
}

a {
    transition: all 0.4s linear;
}

*:focus {
    outline: none !important;
}


/* font-sizers */

._phx-fs5x {
    font-size: 5em;
}

._phx-fs4x {
    font-size: 4em;
}

._phx-fs3x {
    font-size: 3em;
}

._phx-fs2x {
    font-size: 2em;
}

._phx-fs08x {
    font-size: .8em;
}

._phx-fs05x {
    font-size: .5em;
}


/* positions */

._phx-pos-inherit {
    position: inherit !important;
}


/* widthers */

._phx-fwdth {
    width: 100%;
}

._phx-wdth80 {
    width: 80%;
}


/* heighters */

._phx-height200 {
    height: 200px;
}

._phx-lheight50 {
    line-height: 50px;
}


/* aligners */

._phx-cntr {
    text-align: center;
}

._phx-left {
    text-align: left;
}

._phx-rght {
    text-align: right;
}


/* wrappers */

._phx-wrap15 {
    height: 15px;
}

._phx-wrap25 {
    height: 25px;
}

._phx-wrap50 {
    height: 50px;
}

._phx-wrap75 {
    height: 75px;
}

._phx-wrap100 {
    height: 100px;
}


/* colors */

._phx-white {
    color: white;
}

._phx-888i {
    color: #888 !important;
}

._phx-ccc {
    color: #ccc;
}

._phx-alert {
    color: rgba(220, 53, 69, .5);
}


/* backgrounds */

._phx-transbg {
    background-color: transparent !important;
}

._phx-bg-fc-linear {
    background: linear-gradient(to bottom, #fcfcfc, white);
}

._phx_bg-333 {
    background-color: #333;
}

._phx-bg-0c {
    background-color: #0c0c0c;
}

._phx-bg-000-5 {
    background-color: rgba(0, 0, 0, .5);
}

._phx-bg-000-3 {
    background-color: rgba(0, 0, 0, .3);
}

._phx-bg-fff-9 {
    background-color: rgba(255, 255, 255, .9);
}


/* font-resizers */

._phx-fnt10 {
    font-size: 10pt;
}

._phx-fnt12 {
    font-size: 12pt;
}

._phx-fnt14 {
    font-size: 14pt;
}

._phx-fnt16 {
    font-size: 16pt;
}

._phx-fnt18 {
    font-size: 18pt;
}


/* font stylers */

._phx-italic {
    font-style: italic;
}

._phx-bold {
    font-weight: bold;
}

._phx-uline {
    text-decoration: underline;
}


/* marginers */

._phx-nomrg {
    margin: 0px !important;
}

._phx-novmrg {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

._phx-tmrg7 {
    margin-top: 7px;
}

._phx-bmrg7 {
    margin-bottom: 10px;
}

._phx-rmrg15 {
    margin-right: 15px;
}

._phx-lmrg10 {
    margin-left: 10px;
}


/* padders */

._phx-nopad {
    padding: 0px !important;
}

._phx-nohpad {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

._phx-novpad {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

._phx-hpad15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

._phx-hpad25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

._phx-vpad15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

._phx-vpad30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

._phx-tpad30 {
    padding-top: 30px;
}

._phx-tpad15 {
    padding-top: 15px;
}


/* opacities */

._phx-opacity-2 {
    opacity: .2;
}

._phx-opacity-5 {
    opacity: .5;
}

._phx-opacity-8 {
    opacity: .8;
}


/* borders */

._phx-brdrnone {
    border: none !important;
}

._phx-brdrbtm-888 {
    border-bottom-color: #666;
}


/* shadows */

._phx-shadbot {
    box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.14);
}

._phx-txtshad {
    text-shadow: #000000 1px 1px 1px;
}


/* linx */

._phx-footlink {
    text-decoration: none;
    border: none !important;
}

._phx-footlink-1 {
    color: #f0f0f0 !important;
}

._phx-footlink-1:visited {
    color: #f0f0f0 !important;
}

._phx-footlink-1:hover {
    color: #fff !important;
    text-decoration: underline;
}

._phx-footlink-2 {
    color: #666 !important;
    text-decoration: underline !important;
}

._phx-footlink-2:visited {
    color: #666 !important;
    text-decoration: underline;
}

._phx-footlink-2:hover {
    color: #888 !important;
    text-decoration: underline;
}

._phx-mainmenu {
    font-family: "FramdCN";
    color: #fff !important;
    text-decoration: none;
}

._phx-mainmenu:visited {
    font-family: "FramdCN";
    color: #fff !important;
    text-decoration: none;
}

._phx-mainmenu:hover {
    font-family: "FramdCN";
    color: #fff !important;
    text-decoration: underline;
}

._phx-overflowx {
    overflow-x: auto;
}

._arx_3dbg {
    background-image: url(../../images/v2/3d-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

._arx_rght {
    background-image: url(../../images/v2/white-blur.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

._arx_rght2 {
    background-color: rgba(127, 127, 127, .3);
}

._arx_menubg {
    background-image: url(../../images/v2/menu-bg.jpg);
    background-repeat: no-repeat;
    border-bottom: 1px solid #444;
}

._arx_menubg2 {
    background-image: url(../../images/v2/menu-bg2.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #444;
}

._arx_hampad {
    padding: 17px 17px 9px 10px !important;
}

._arx_logoshad {
    position: absolute;
    top: -50px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: #fff;
    opacity: .05;
}

._arx-tileheader {
    padding: 20px 0px 5px 0px;
    font-family: "FramdCN";
    font-size: 16pt;
    text-align: center;
    text-transform: uppercase;
}

._arx-tilebg {
    padding: 20px 0px;
    background-color: rgba(127, 127, 127, .2);
    margin-bottom: 20px;
}

._arx-tilebg:hover {
    background-color: rgba(127, 127, 127, .3);
}

._arx-tilebg2 {
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}

._arx-tilebg2:hover {
    background-color: rgba(127, 127, 127, .1);
}

._arx-xstext {
    font-size: 11pt;
    /* text-align: justify; */
}

._arx_phones p,
._arx_topphones p {
    margin: 0px;
    padding: 0px;
}

._arx-mdlgtext {
    padding: 20px 20px 0px 20px;
    text-align: justify;
}

._arx-xslogo img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

._arx-topphones {
    margin: 0px 120px 0px 0px;
    padding: 0px;
    font-size: 20pt;
}

._arx-logo-small {
    position: absolute;
    top: 10px;
    z-index: 9;
}

._arx-arixlogo {
    position: absolute;
    top: 8px;
    z-index: 9;
}

._arx-tilelink {
    display: inline-block;
    padding-top: 110px;
    width: 150px;
    height: 150px !important;
    text-transform: uppercase;
}

._arx-tilelink span {
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    font-size: 12pt;
    font-family: "FramdCN";
    color: #fff !important;
    text-shadow: #000000 1px 1px 1px;
    line-height: 40px;
}

._arx-tilelink-1 {
    background-image: url(../../images/v2/items/item02.jpg);
}

._arx-tilelink-2 {
    background-image: url(../../images/v2/items/item03.jpg);
}

._arx-tilelink-3 {
    background-image: url(../../images/v2/items/item04.jpg);
}

._arx-tilelink-4 {
    background-image: url(../../images/v2/items/item05.jpg);
}

.pheix-space a,
.pheix-space a:visited {
    color: #f55555;
    border-bottom: 1px dotted #f55555;
    text-decoration: none;
}

.pheix-space a:hover,
.pheix-space a:focus,
.pheix-space a:active {
    color: #a00000;
    border-bottom: 1px dotted #a00000;
}

.pheix-canvas {
    min-height: 100vh;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.pheix-navy {
    z-index: 999 !important;
}

.pheix-content {
    min-height: calc( (100vh - 114px));
}

.pheix-footer {
    min-height: 100px;
    background-image: url(../../images/v2/index-bottom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #666;
    font-size: 14px;
}

.pheix-logotext {
    font-family: FramdCN, san-serif;
    color: #505050;
    font-size: 24pt;
    text-decoration: none;
    font-weight: normal;
}

.pheix-quote {
    background-color: #f5f5f5;
    white-space: nowrap;
    overflow-x: auto;
}

.pheix-captcha {
    border: 1px solid #ccc;
    opacity: 0.8;
    width: 88px;
    height: 31px;
}

.pheix-card {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.pheix-card-header {
    background: linear-gradient(to right, #f4f4f4, #dedede);
    padding: 15px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    font-size: 14pt;
    color: #444;
}

.pheix-card-body {
    padding: 15px;
    border-radius: 0 0 5px 5px;
    color: #555;
    font-size: 11pt;
    background-color: #fff;
}

.pheix-card-footer {
    padding: 15px;
    border-radius: 0 0 5px 5px;
    color: #555;
    font-size: 11pt;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
}

.pheix-to-top,
.pheix-to-top:visited,
.pheix-to-top:focus {
    display: none;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    color: #444;
    font-size: 42pt;
    text-decoration: none !important;
    opacity: 0.5;
}

.pheix-to-top:hover,
.pheix-to-top:active {
    color: red;
}

@media( min-width:110px) {
    .pheix-render-block {
        display: block;
    }
    .pheix-item-delim {
        border-right: none;
    }
    ._arx_delim_brdr2 {
        border-right: none;
    }
    .pheix-mob-fsz {
        font-size: 14pt;
    }
    .pheix-footer {
        padding-top: 6pt;
    }
    ._arx-lmrg50 {
        margin-left: 0px;
    }
    ._arx_logo {
        display: none;
    }
    ._phx-mainmenu {
        font-size: 16pt;
    }
    .pheix-content2 {
        min-height: calc( (100vh - 180px));
        background-image: url(../../images/v2/shadow.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

@media( min-width:370px) {}

@media (min-width:576px) {
    .pheix-footer {
        padding-top: calc( ( 50px / 2) - 6pt);
    }
    .pheix-render-block {
        display: inline-block;
    }
}

@media( min-width:768px) {}

@media( min-width:992px) {
    .pheix-item-delim {
        border-right: 1px solid #444;
    }
    ._arx_delim_brdr2 {
        border-right: 1px solid #000;
    }
    ._arx-lmrg50 {
        margin-left: 5px;
    }
    ._arx-lmenumarg {
        margin-left: 156px;
    }
    .pheix-mob-fsz {
        font-size: 12pt;
    }
    ._arx_logo {
        display: inline-block;
        position: relative;
        top: -25px;
        z-index: 9;
    }
    ._arx-logo-small {
        left: calc( 50% + 385px);
    }
    ._phx-mainmenu {
        font-size: 12pt;
    }
    ._arx-mdlgtext {
        font-size: 7.7pt;
    }
    ._arx_phones {
        font-size: 16pt;
    }
    .pheix-content2 {
        min-height: calc( (100vh - 426px));
    }
}

@media( min-width:1200px) {
    ._arx-lmrg50 {
        margin-left: 50px;
    }
    ._arx-mdlgtext {
        font-size: 9.5pt;
    }
    ._arx_phones {
        font-size: 20pt;
    }
    ._arx-logo-small {
        left: calc( 50% + 475px);
    }
    ._arx-lmenumarg {
        margin-left: 240px;
    }
}

.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
    background-color: #777 !important;
}
